
body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
h1{
    padding-top: 30px;
}
.navbar {
    width: 100%;
    background-color: #b2bbc4;
    color: white;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    margin-bottom: 200px;
}

.sidebar {
    height: calc(100vh - 50px); /* Adjust based on navbar height */
    position: fixed;
    top: 50px; /* Height of navbar */
    left: 0;
    width: 200px;
    background-color: #b2bbc4;
    padding-top: 20px;
}

.sidebar a {
    padding: 10px 15px;
    text-align: left;
    display: block;
    color: #333;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
}
.main-content {
    margin-left: 200px; /* Same as the width of the sidebar */
    padding: 20px;
    padding-top: 60px; /* Adjust based on navbar height */
}
