.header{
    position: relative;
    top: -100px;
}
.custom-navbar {
    max-width: 1280px;
    width: 95%;
    margin: 0 auto;
    position: relative;
    top: 150px;
    background: rgba(255, 255, 255, 0.9);
    z-index: 1000;
}
.navbar-logo {
    height: auto;
    width: 60px;
}
.small-logo {
    width: 50px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-right: 40px; /* Add some space between the logo and text */
  }
.navbar-brand {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 30px;
}

.navbar-nav .nav-link {
    color: black;
    font-weight: bold;
    margin-right: 15px;
}
.navbar-nav .nav-link:hover {
    color: red;
}
.navbar-nav .btn {
    border-radius: 25px;
}
.navbar .container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar .container .navbar-brand {
    margin-right: auto;
}
.navbar .container .collapse {
    margin-left: auto;
}


#about-us {
    background-color: #3d3c3c;
    padding: 50px 0;
}

#about-us h2 {
    color: whitesmoke;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about-us p {
    color: whitesmoke;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#about-us .img-fluid {
    max-width: 50%;
    height: auto;
    margin-left: 200px;
    
}


#about-us-2 {
    background-color: #333232;
    padding: 50px 0;
}

#about-us h2,
#about-us-2 h2 {
    color: whitesmoke;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about-us p,
#about-us-2 p {
    color: whitesmoke;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#about-us .img-fluid,
#about-us-2 .img-fluid {
    max-width: 50%;
    height: auto;
    margin-left: 200px;
}

#about-us-3 {
    background-color: #302f2f;
    padding: 50px 0;
}

#about-us h2,
#about-us-3 h2 {
    color: whitesmoke;
    font-size: 2.5rem;
    margin-bottom: 20px;
}

#about-us p,
#about-us-3 p {
    color: whitesmoke;
    font-size: 1.25rem;
    margin-bottom: 20px;
}

#about-us .img-fluid,
#about-us-3 .img-fluid {
    max-width: 50%;
    height: auto;
    margin-left: 200px;
}

.footer {
    background-color: #0e0b0a; /* Adjust this color to match your site's theme */
    padding: 20px 0;
    color: white;
}

.footer .footer-links {
    list-style: none;
    padding: 0;
}

.footer .footer-links li {
    margin-bottom: 10px;
}

.footer .footer-links a {
    color: white;
    text-decoration: none;
}

.footer .footer-links a:hover {
    text-decoration: underline;
}

.footer .app-badge {
    width: 50px;
    margin: 10px 0;
    
}

.footer .social-links {
    list-style: none;
    padding: 0;
}

.footer .social-links li {
    margin-bottom: 10px;
}

.footer .social-links a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: 140px;
}

.footer .social-links img {
    width: 40px;
    margin-right: 10px;
}

.carousel{
    margin-top: -70px; /* Sesuaikan nilai negatif untuk menaikkan slider */
    position: relative;
    z-index: 500; /* Pastikan z-index lebih rendah dari .brown-banner */
}